<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0;">
	<meta charset="utf-16">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/syntax.css">
    <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.2.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/css/LayoutMisc.css' xmlns='http://www.w3.org/1999/xhtml'>
    <link rel='stylesheet' type='text/css' href='/css/ReducedStyle.css' xmlns='http://www.w3.org/1999/xhtml'>
    <link rel='stylesheet' type='text/css' href='/css/ReducedStyle2.css' xmlns='http://www.w3.org/1999/xhtml'>
    <link rel='stylesheet' type='text/css' href='/css/ReducedStyle3.css' xmlns='http://www.w3.org/1999/xhtml'>
    <link rel='stylesheet' type='text/css' href='/css/DynamicStyle.css' xmlns='http://www.w3.org/1999/xhtml'>
	<title>TechNet Wikiii</title>
</head>

<body style='margin:20px !important;'>

Hello {{user.name}}

    <!-- AUTO ADDED ABOVE -->