{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a class="ml-1 mr-2" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{site.str_previous_page}}</a>
    {% else %}
    <span>&laquo; {{site.str_previous_page}}</span>
    {% endif %}

    {% assign page_start = paginator.page | minus: site.pagination_nr %}
    {% assign page_end = paginator.page | plus: site.pagination_nr %}

    {% for page in (page_start..page_end) %}
    {% if page < 1 %}
    <!-- do freaking nothing -->
    {% elsif page == paginator.page %}
    <span class="ml-1 mr-1">{{ page }}</span>
    {% elsif page == 1 %}
    <a class="ml-1 mr-2" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a class="ml-1 mr-2" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="ml-1 mr-2" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{site.str_next_page}} &raquo;</a>
    {% else %}
    <span>{{site.str_next_page}} &raquo;</span>
    {% endif %}
</div>
{% endif %}