<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/css/site.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.baseurl }}">

    <link rel="stylesheet" id="wds-ratings-css" href="{{ '/blogs/css/wds-ratings.css' | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="stylesheet" id="microsoft-parent-style-css" href="{{ '/blogs/css/style1.css' | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="stylesheet" id="microsoft-child-style-css" href="{{ '/blogs/css/style2.css' | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="stylesheet" id="microsoft-child-style-css" href="{{ '/blogs/css/bootstrap.min.css' | prepend: site.baseurl }}" type="text/css" media="all" />

    <script type="text/javascript" src="{{ '/blogs/js/jquery-1.12.1.min.js' | prepend: site.baseurl }}"></script>

    <title>TechNet Blogs v2</title>

</head>

<body style='margin:20px !important;'>

    <div class="site container-fluid" id="page">
        <header class="site-header row" id="site-header" role="banner">
            <div class="site-header-global-wrapper" id="site-header-global-wrapper">
                <div class="site-header-global" id="site-header-global">
                    <!--<button tabindex="0" class="navbar-toggle" aria-expanded="false" aria-label="toggle menu" type="button" data-toggle="collapse" data-target="#site-profile-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                    <div class="col-sm-5 row navbar-header" id="site-logo">
                        <div id="header-microsoft-logo">
                            <a tabindex="1" id="home-link" aria-label="Microsoft logo" href="http://www.microsoft.com/">
                                <img id="header-microsoft-logo-svg" alt="Microsoft logo" src="{{ '/images/ms-logo-gray.svg' | prepend: site.baseurl }}">
                                <span id="brand">
                                    <span id="brand-separator">|</span>
                                    <span id="brand-name"></span>
                                    <span style="font-weight:bold; color:red">&nbsp;&nbsp;&nbsp;&nbsp;--> Unofficial Archive <--</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7" id="site-header-global-right">
                        <div class="navbar-collapse collapse" id="site-profile-menu">
                            <div id="search-form-wrapper">

                            </div>
                            <div id="me-control">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-header-blog-wrapper ms-blog-header clear-both" id="site-header-blog-wrapper">
                <div class="site-header-blog" id="site-header-blog">
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header" id="blog-logo-area">
                            <div tabindex="0" id="blog-logo" aria-label="blog logo" data-toggle="collapse" data-target="#blog-menu">
                                <div id="blog-logo-text">
                                    <h1 class="site-title ms-blog-title">
                                        <a class="for-desktop" href="https://blogs.msdn.microsoft.com/windowsazurestorage">
                                            Windows Azure Storage
                                        </a>
                                        <a class="for-mobile" href="https://blogs.msdn.microsoft.com/windowsazurestorage">
                                            Windows Azure Storage
                                        </a>
                                    </h1>
                                    <p class="site-description ms-blog-description">Official blog of the MSDN and TechNet Forum Ninjas</p>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="ms-blog-banner" id="site-header-image-wrapper">
                <div id="site-header-image">
                </div>
            </div>
        </header>

        <!--<div class='breadcrumb-list'>
            <span class='breadcrumb-item'><a class="internal-link view-home" href="https://github.com/technet2{{ site.baseurl }}/tree/master/">Wiki</a></span>

            <span class='separator'><span style='display:none;'></span>&nbsp;&gt;&nbsp;</span>-->
            <span class='breadcrumb-item'>
                <a href="{{ site.baseurl }}/blogs/index.html">Forum Ninjas Blog</a>
            </span>

            <span class='breadcrumb-item'>
                <span class='separator'><span style='display:none;'></span>&nbsp;&gt;&nbsp;</span>
                <span id="titleCrumb" class='breadcrumb-item'>
                    {{ page.title }}
                </span>
            </span>
        </div>

        <div class="site-content row" id="site-content">
            <div class="content-area col-sm-9" id="primary">
                <div class="div-content" id="single-content">


                    <!--<article class="post-2855 post type-post status-publish format-standard hentry category-thursdayforumbestpractice tag-sabah-shariq tag-thursday-forum-best-practices tag-thursday-bestpractices" id="post-2855">
                    <header class="entry-header single">-->
                    <!-- AUTO ADDED ABOVE -->
